.toDoAppContent {
  display: flex;
  border: 1px solid blue;
}
.todoCard-wrap {
  display: flex;
  flex-wrap: wrap;
  height: 200px;
}
.categoryCard-wrap {
}
.editTaskInput {
  border: none;
  outline: none;
  text-align: center;
}
.modal-wrap {
  /* display: none; */
  position: fixed;
  display: flex;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 2;
  background: rgba(0, 0, 0, 0.4);
  align-items: center;
}
.modal-wrap * {
  height: 20px;
}
.modal {
}

.deleteCardButton-wrap {
  width: 20px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 5px;
  margin-top: 5px;
}
.deleteCardButton-wrap:hover {
  background-color: blue;
  color: white;
  transition-duration: 0.3s;
}
.todoCard {
  width: 300px;
  text-align: center;
  margin: 20px;
  border: 1px solid blue;
  border-radius: 10px;
  box-shadow: -18px 10px 99px -30px;
  display: flex;
  flex-direction: column;
}
.categoryCard {
  width: 200px;
  text-align: center;
  border: 1px solid blue;
  border-radius: 10px;
  box-shadow: -18px 10px 99px -30px;
  margin: 5px;
  cursor: pointer;
}

.App-link {
  color: #61dafb;
}
