.searchBar-wrap {
  display: flex;
  justify-content: center;
}
.cardButton {
  align-self: center;
  width: 50px;
  margin-bottom: 5px;
}
.searchBar {
  width: 512px;
  height: 30px;
  border-radius: 8px;
}
.searchBarButton {
  height: 30px;
  margin-top: 3px;
}
.toDoAppContent {
  display: flex;
}
.todoCard-wrap {
  display: flex;
  flex-wrap: wrap;
  height: 200px;
}
.categoryCard-wrap {
}
.editTaskInput {
  border: none;
  outline: none;
  text-align: center;
}
.modal-wrap {
  /* display: none; */
  position: fixed;
  display: flex;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 2;
  background: rgba(0, 0, 0, 0.4);
  align-items: center;
}
.modal {
  width: 300px;
  height: 250px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  border-radius: 20px;
  border: 1px solid #4444ff;
}
.modal * {
  width: 200px;
  height: 20px;
  margin: 10px;
}
.modal div {
  display: flex;
  justify-content: space-around;
}
.modal button {
  width: 60px;
  height: 20px;
  margin: 5px;
  cursor: pointer;
  background-color: white;
  border: 1px solid #4444ff;
  border-radius: 5px;
}
.modal button:hover {
  background-color: aliceblue;
}
.openModalButton {
  display: flex;
  justify-content: center;
  position: fixed;
  right: 5%;
  bottom: 10%;
  font-size: 35px;
  font-weight: 700;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  border: 1px solid black;
}
.openModalButton :hover {
  background-color: black;
}

.deleteCardButton-wrap {
  width: 20px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 5px;
  margin-top: 5px;
}
.deleteCardButton-wrap:hover {
  background-color: blue;
  color: white;
  transition-duration: 0.3s;
}
.todoCard {
  width: 300px;
  text-align: center;
  margin: 20px;
  border-radius: 10px;
  box-shadow: -18px 10px 99px -30px;
  display: flex;
  flex-direction: column;
}
.categoryCard {
  width: 200px;
  text-align: center;
  border: 1px solid blue;
  border-radius: 10px;
  box-shadow: -18px 10px 99px -30px;
  margin: 5px;
  cursor: pointer;
}
.addCategory-wrap * {
  height: 30px;
  margin-left: 5px;
}

.App-link {
  color: #61dafb;
}
